@use '/src/app/styles/_variables.scss' as v;
.asigurarePage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-inline: 7.5vw;
    box-sizing: border-box;
    margin-bottom: 3rem;
}

.asigurareHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    text-align: center;
    border-radius: 16px;
    padding: 2rem;
    padding-top: 5rem;
    box-sizing: border-box;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.asigurareHeader > img{
height: 10rem;
width: auto;
position: absolute;
top: -5rem;
}
.asigurareHeader > p {
    opacity: 0.75;
}


@media only screen and (min-width: 0px) and (max-width:640px) {
    .asigurarePage {
        justify-content: start;
    }
    .asigurareHeader {
        width: 100%;
        padding-inline: 1rem;
        padding-bottom: 0.5rem;
        padding-top: 2.5rem;
        margin-top: 2.5rem;
    }
    .asigurareHeader > img{
        height: 5rem;
        top: -2.5rem;
    }

}
 @media only screen and (min-width: 640px) and (max-width:992px){
    
}
    
@media only screen and (min-width: 992px) and (max-width:1200px) {
    
}
@media only screen and (min-width: 1200px) {
    
}